<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <style>
      a {
        display: inline-block;
        background-color: mintcream;
        width: 200px;

        border: 1px solid;
        border-radius: 50px;
        padding: 5px 0 5px 0;

        text-decoration: none;
        text-align: center;
        font-size: 14px;
        font-family: consolas;
      }
    </style>
  </head>
  <body>
   <ul style='list-style: none;'>
     <li><p><a href='/polls'>A Polls Application</a></p></li>
     <li><p><a href='/hello'>Test the session</a></p></li>
     <li><p><a href='/autos'>Autos CRUD Database</a></p></li>
   </ul>
  </body>
</html>